* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Archivo', Helvetica, Arial, sans-serif;
}

:root {
    --primary: rgb(27, 27, 27);
    --font: rgb(227, 227, 227);
    --light-font: rgb(91, 91, 91);
    --dark-font: rgb(10, 10, 10);
    --light-grey: rgb(155, 155, 155);
    --sidebar-width: 12em;
    --maroon: #5b1e21;
    --dark-maroon: #240f10;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--primary);
    display: flex;
    flex-direction: column;
    color: var(--font);
}

/* scroll animations */
@media(prefers-reduced-motion: no-preference) {
  .hidden > * {
    opacity: 0;
    box-shadow: 0;
    transition: opacity 1s;
  }
}

.show > * {
    opacity: 1;
}

/* general styles */
.text-scale {
    /* text-transform: uppercase; */
    transform: scaleY(.9);
}

h2 {
    font-weight: 500;
}

.heading {
    font-size: 1.5rem;
    padding-bottom: 1em;
}

/* standard container */
.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 3em var(--sidebar-width) 0px var(--sidebar-width);
}

/* sidebar */
.sidebar {
    position: fixed;
    padding: 5em 3em 5em 5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    z-index: 5;
}

.sidebar ul {
    list-style: none;
    font-weight: 600;
    text-align: right;
    display: flex;
    flex-direction: column;
}

.sidebar ul li {
    margin-bottom: 1em;
    cursor: pointer;
    border-bottom: 1px solid rgba(0,0,0,0);
    align-self: flex-end;
    padding-bottom: 5px;
}

.sidebar ul li a {
    text-decoration: none;
    color: var(--font);
    padding: 0px 0px 5px 5px;
}

.sidebar ul li a:hover {
    border-bottom: 1px solid var(--font);
}
/* info */
#info {
    justify-content: space-between;
    padding-top: 15em;
    padding-bottom: 5em;
}

.name {
    font-size: 5rem;
    font-weight: 800;
    letter-spacing: -.2rem;
    word-spacing: .4rem;
}

#info .title {
    color: var(--light-grey);
}

#info p {
    font-weight: 200;
    width: 29em;
}

.greetings h2 {
    font-size: 2rem;
    line-height: 1rem;
}

/* projects */
.project {
    background: var(--light-grey);
}

#projects h2 {
    font-size: 7rem;
    align-self: center;
    font-weight: 900;
}

/* contact */
#contact {
    background: var(--maroon); 
    transition: box-shadow 5s;
    box-shadow: rgba(0, 0, 0, 0.666) 0px 0px 140px 130px inset;
}

.contact-load {
    box-shadow: rgba(0, 0, 0, 0.666) 0px 0px 140px 130px inset;
}

/* paintings */

.paintings {
    display: flex;
    align-items: flex-start;
}

.painting {
    transform: var(--translate);
}

/* center painting with info */
.painting:first-child {
    transform: translate(310px, 200px);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.painting .info,
.painting:first-child img {
    grid-row: 1 / 2;;
    grid-column: 1 / 2;
}

.painting .info {
    align-self: center;
    font-size: .8rem;
    z-index: 2;
    text-align: center;
}

.painting .info h2 {
    font-weight: 100;
    font-size: 8rem;
    color: var(--font);
} 

.painting .info div {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.painting .info h3 {
    font-weight: 400;
    color: var(--dark-maroon);
    border-bottom: 1px solid var(--dark-maroon);
    cursor: pointer;
}

.painting .info h3:hover {
    color: var(--font);
    border-bottom: 1px solid var(--font);
}







