* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Archivo', Helvetica, Arial, sans-serif;
}

:root {
    --font: rgb(17, 17, 17);
    --primary: rgb(227, 227, 227);
    --light-font: rgb(91, 91, 91);
    --dark-font: rgb(49, 49, 49);
    --light-grey: rgb(155, 155, 155);
    --sidebar-width: 0px;
    /* --maroon: #5b1e21; */
    --maroon: #648373;
    /* --maroon: #adaf8b; */
    /* --maroon: #5b7381; */
    --dark-maroon: #0f2419;
    --light-maroon: #405d4f;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    background: var(--primary);
    display: flex;
    flex-direction: column;
    color: var(--font);
}

p {
    font-weight: 200;
}

/* buttons */
.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.btn {
    padding: 15px 25px;
    border: none;
    border-radius: 3px;
    text-decoration: none;
    color: var(--font);
    font-size: .8rem;
    display: flex;
    align-items: center;
    gap: 5px;
}

.material-symbols-outlined.open-in-new {
    font-variation-settings:
    'FILL' 0,
    'wght' 500,
    'GRAD' 0,
    'opsz' 48;
    font-size: 1rem;
}

.demo-btn {
    background: var(--maroon)
}

.demo-btn:hover {
    background: var(--light-maroon);
}

.code-btn {
    border: 2px solid var(--maroon);
}

.code-btn:hover {
    background: var(--maroon);
    color: var(--primary);
}

#menu {
    cursor: pointer;
}

#menu:hover {
    color: var(--light-font)
}
/* scroll animations */
@media (prefers-reduced-motion: no-preference) {
  .hidden > * {
    opacity: 0;
  }
}

.show > * {
    opacity: 1;
}

/* general styles */
.text-scale {
    transform: scaleY(.9);
}

h2 {
    font-weight: 500;
}

.heading {
    font-size: 1.5rem;
    padding-bottom: 1em;
}

/* standard container */
.container {
    height: minmax(100%, 100vh);
    /* height: 100vh; */
}

.sidebar {
    height: 100vh;
}

/* sidebar */
.no-display {
    display: none !important;
}

.sidebar {
    position: fixed;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 5;
    overflow-y: scroll;
}

.sidebar ul {
    list-style: none;
    font-weight: 600;
    text-align: right;
    display: flex;
    flex-direction: column;
}

.sidebar ul li {
    margin-bottom: 1em;
    cursor: pointer;
    align-self: flex-end;
    padding-bottom: 5px;
}

.sidebar ul li a {
    text-decoration: none;
    color: var(--font);
    padding: 0px 0px 8px 0px;
}

.sidebar ul li a:hover {
    border-bottom: 2px solid var(--maroon);
}

/* info */
#info.hidden > * {
    transition: opacity ease-in .7s, transform ease-out .5s;
}

#info {
    padding: 120px 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
}

.greetings .name {
    font-size: 5rem;
    font-weight: 800;
    letter-spacing: -.2rem;
    word-spacing: .4rem;
}

#info .title {
    color: var(--light-grey);
}

#info p {
    max-width: 450px;
}

.greetings h2 {
    font-size: 5rem;
    line-height: 4rem;
}

.greetings h2,
.greetings .name {
    font-size: 5rem;
}

/* projects */
#projects {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    gap: 30px;
    padding: 0px 130px;
}

#projects.hidden > * {
    transition: opacity ease-in .7s, transform ease-out 2s;
}

.project {
    /* background-color: ; */
    border: 4px solid #4c6d5c68;;
    border-radius: 6px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 30px;
    padding: 40px;
}

.left {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.right {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-top: 15px;
}

.right > p {
    width: 80%;
}

.tech {
    padding-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.tech p {
    background-color: var(--maroon);
    padding: 5px 15px;
    border-radius: 20px;
    font-size: .9rem;
    color: var(--primary);
}

#project-header {
    font-size: 10rem;
    font-weight: 900;
    align-self: flex-end;
    margin-bottom: 20px;
}

#project-header.show {
    transform: translateX(0%);
}

.project-name {
    font-size: 2rem;
}
/* contact */
#contact {
    height: 100vh;
    background: var(--maroon); 
}

/* paintings */
.paintings {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    align-self: flex-end;
}

.paintings img:nth-of-type(1) {
    justify-self: flex-end;
    grid-row: 1/3;
    grid-column: 2/3;
    align-self: center;
    width: 70%;
    max-width: 200px;
}

.paintings img:nth-of-type(2) {
    align-self: flex-end;
    grid-column: 3/4;
    width: 70%;
    max-width: 170px;
}

.paintings img:nth-of-type(3) {
    grid-column: 3/4;
    width: 40%;
    max-width: 100px;
}

.hidden .contact-painting {
    transition: opacity ease-in .7s;
}

.contact-painting {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.contact-painting::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: rgba(0, 0, 0, 0.515) 0px 0px 260px 100px inset;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
}

.painting {
    transition: transform ease-out .3s;
}

.painting img {
    pointer-events: none;
}

/* center painting with info */
.contact-painting .painting {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    text-align: center;
}

.contact-painting .painting img {
    max-width: 500px;
}

.painting .contact-links,
.contact-painting .painting img {
    justify-self: center;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

/* contact */
.contact-msg {
    font-size: 2rem;
}

.contact-links {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.contact-msg span,
.contact-link a {
    font-family: 'IM Fell DW Pica';
    font-style: italic;
}

.contact-link a {
    font-weight: 400;
    font-size: 1.3rem;
    color: var(--font);
    border-bottom: 1px solid var(--font);
    cursor: pointer;
    text-decoration: none;
}

.contact-link a:hover {
    color: var(--dark-maroon);
    border-bottom: 1px solid var(--dark-maroon);
}

/* media query */

/* max width 1024px */
@media screen and (max-width: 1024px) {
    .sidebar {
        background-color: var(--primary);
        height: auto;
        width: 100vw;
    }
    .sidebar.active {
        height: 100vh;
    }
    .sidebar ul {
        align-self: center;
    }
    .sidebar ul li {
        align-self: center;
        padding-bottom: 40px;
    }
    #info {
        padding: 100px 50px 50px 50px;
    }
    #projects {
        padding: 0px 20px;
    }
    .project {
        grid-template-columns: auto;
        gap: 10px;
    }
    .buttons {
        justify-content: center;
        gap: 20px;
    }
    .right {
        align-items: center;
        text-align: center;
    }
    .tech {
        justify-content: center;
    }
    #contact {
        height: 90vh;
    }
    .contact-painting .painting img {
        width: 70%;
    }
 }
 /* max width 768px */
@media screen and (max-width: 768px) {
    #project-header {
        font-size: 5rem;
    }
    .greetings .name {
        letter-spacing: -.1rem;
    }
    .greetings h2 {
        line-height: 2rem;
    }
    .greetings h2,
    .greetings .name {
        font-size: 3rem;
    }
}
/* max width 528px */
@media screen and (max-width: 534px) {
    #museranker video,
    #marvel-comics video {
        max-width: 440px;
        width: 100%;
        height: auto;
    }
    #batch video {
        width: 50%;
        height: auto;
    }
}
 /* max width 480px */
@media screen and (max-width: 480px) {
    #info {
        padding: 100px 20px 50px 20px; 
    }
    .greetings h2 {
        font-size: 2rem;
    }
    .greetings .name {
        font-size: 2.9rem;
        line-height: 2.4rem;
    }
    .greetings .title {
        font-size: .8rem;
        margin-top: 10px;
    }
    .about h2 {
        font-size: 1.3rem;
    }
    .about p {
        font-size: .9rem;
    }
    #project-header {
        font-size: 3.5rem;
    }
    #contact {
        /* height: minmax(100vh, 60vh); */
    }
    .contact-msg {
        font-size: 1.3rem;
    }
    .contact-link a {
        font-size: .8rem;
    }
}